<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>

	<typeAliases>
		<typeAlias type="jsh.project.board.dto.Article" alias="Article"/>
		<typeAlias type="jsh.project.board.dto.ArticleCreateRequest" alias="ArticleCreateRequest"/>
		<typeAlias type="jsh.project.board.dto.ArticleUpdateRequest" alias="ArticleUpdateRequest"/>
	</typeAliases>
	 
	<mappers>
		<mapper resource="/sqls/board/board.xml"/>
	</mappers>

</configuration>
